<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purpuligo.pcweb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.purpuligo.pcweb.Activity.ContactUsActivity"></activity>
        <activity
            android:name="com.purpuligo.pcweb.Activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.purpuligo.pcweb.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.WishListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.ProductDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.PaymentOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.CodOrderSummeryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.TermAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.OnBoardingScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.CustomerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.EditUserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.OrderHistoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.CheckoutAddressListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="instamojo.orderauth.url"
            android:value="http://purpuligo.com/guchhi/access_token.php" />

        <activity
            android:name="com.purpuligo.pcweb.Activity.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.purpuligo.pcweb.Activity.SubCategoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.purpuligo.pcweb.Activity.OrderPlacedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>